

.pageHead {
  position: relative;
}

.dropboxBox {
  position: absolute;
  left: 20px;
}

.infoBox {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  font-size: small;
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

#dropbox {
  border: 1px dashed #219E45;
  border-radius: 20px;
  width: 200px;
  margin: 20px auto;
  padding: 20px;
  /*text-align: center;*/
  background: #CFE0E2;
  opacity: 0.9;
  /*background: #0F73BD;*/
  /*opacity: 0.8;*/
}


.dbText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

